@media (max-width: 991px) {
    .promo {
        background-position: initial;
        min-height: 600px;
        padding: 21px 93px;
    }
    .advantages {
        padding: 40px 0 40px 0;
        &__wrapper {
            justify-content: space-around;
        }
    }
    .consultation {
        padding: 100px 0 92px 50px;
        &__descr {
            font-size: 18px;
        }
        .title_left {
            font-size: 32px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        background-position: initial;
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .advantages {
        &__item {
            max-width: 215px;
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__content {
            &_active {
                width: 650px;
                margin: 0 auto;
                padding-top: 60px;
            }
        }
    }
    .reviews {
        &__item {
            width: 700px;
            padding-right: 20px;
        }
    }
}


@media (max-width: 575px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .promo {
        background-position: initial;
        .button_phone {
            position: absolute;
                left: -60px;
                top: 24px;
        }
        .button_main {
            width: 232px;
            height: 40px;
            font-size: 15px;
            margin-top: 54px;
        }
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 18px;
            margin-top: 0px;
        }
        &__icons {
            margin-top: 35px;
            justify-content: flex-end;
        }
    }
    .header {
        position: relative;
        &__logo {
            img {
                position: absolute;
                left: -60px;
                top: 10px;
                width: 66%;
            }
        }
        &__contacts {
            position: relative;
        }
        &__phone {
            position: absolute;
            right: -130px;
            top: -2px;
            width: 200px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__icon {
            width: 50%;
            margin-top: 30px;
        }
        &__subtitle {
            margin-top: 38px;
            font-size: 19px;
        }
        &__descr {
            margin-top: 21px;
            font-size: 18px;
            width: 350px;
        }
    }
    .carousel {
        &__inner {
            width: 560px;
        }
        .slick-slide {
            img {
                width: 80%;
            }
        }
    }
    .catalog {
        .title {
            margin-left: 110px;
        }
        &__tab {
            font-size: 14px;
        }
    }
}